Create Button for onclick event to popup a modal

<!-- 
Button --!>

<div class="col-md-4"><br />
	<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#shiftModal">Open Shifts</a>
</div>
			
			
<!--
Modal Implementation --!>

<div class="modal" id="shiftModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

	<!-- Modal header --!>
			<div class="modal-header">
				<h3 class="modal-title">Shifts</h3>
				<a href="#" class="close" data-dismiss="modal">&times;</a>
			</div>

	<!-- Modal body --!>
			<div class="modal-body" id="modal2">
				<form id="modalForm">
				@{
					Html.RenderAction("ShiftModal", "Shift");
				}
				</form>
			<div id="drop"></div>
			</div>

	<!-- Modal footer --!>
			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
				<a href="@Url.Action("index", "Schedule")" class="btn btn-success" id="btnsubmit"> Submit</a>
			</div>
</div>



